@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-color: #F9E8D9;
    background-image: url(./assets/imgs/fundo.svg);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    border-bottom: 1px black solid;
}

.container {
    background-color: #f7b787;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-around;
}

.titulo {
    color: black;
    width: fit-content;
    font-weight: bold;
    font-size: 24px;
    align-items: start;
    flex-direction: row;
    width: 800px;

}

.leftInfo {
    width: 277px;
    margin-left: 10px;
    margin-top: 60px;
    position: absolute;
}

.leftInfo .container2 {
    display: flex;
    flex-direction: column;
    height: 535px;
    justify-content: space-between;
}

.leftInfo .container2 .leftBtns {
    font-weight: 700;
    margin-top: 5px;
}


.leftInfo .container2 .leftBtns .btnshome {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/iconDash.svg);
    background-repeat: no-repeat;
    background-position: 15px 19px;
    padding-left: 50px;
    cursor: pointer;
}

.leftInfo .container2 .leftBtns .btnsdashboards {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/chart.svg);
    background-repeat: no-repeat;
    background-position: 15px 18px;
    padding-left: 50px;
    cursor: pointer;
}

.leftInfo .container2 .leftBtns .btnsmensal {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/calendario.svg);
    background-repeat: no-repeat;
    background-position: 15px 18px;
    padding-left: 50px;
    cursor: pointer;
}

.leftInfo .container2 .leftBtns .btnsnotify {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/iconNot.svg);
    background-repeat: no-repeat;
    background-position: 15px 18px;
    padding-left: 50px;
    cursor: pointer;
}

.leftInfo .container2 .leftBtns .btnscadastrar {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/iconFunc.svg);
    background-repeat: no-repeat;
    padding-left: 50px;
    cursor: pointer;
    background-position: 15px 18px;
}

.leftInfo .container2 .leftBtns .btnsconfig {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #f7b787;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/iconConfig.svg);
    background-repeat: no-repeat;
    background-position: 15px 19px;
    padding-left: 50px;
    cursor: pointer;
}

.leftInfo .container2 .btnSair button {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/sair.png);
    background-repeat: no-repeat;
    background-position: 15px 18px;
    padding-left: 50px;
    background-size: 25px;
    cursor: pointer;
}

.dashboard {
    display: flex;
    flex-direction: row-reverse;
}

.dashboard .container3 {
    width: 1200px;
    height: 595px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.dashboard .container3 .box {
    width: 1160px;
    height: 590px;
    background-color: #FFFFF4;
    border-radius: 15px;
    padding: 20px;
    padding-top: 5px;
    margin-top: 50px;
}

.dashboard .container3 .box .config {
    display: flex;
    height: 80%;
    width: 100%;
}

.dashboard .container3 .box .config .menu {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard .container3 .box .config .menu .buttonConfig {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.dashboard .container3 .box .config .conteudo {
    width: 80%;
    height: 100%;
    display: flex;
}

.dashboard .container3 .box .config .conteudo .infor .conteudo .endereco input {
    font-family: 'Poppins', sans-serif;
    width: 380px;
    height: 35px;
    margin-top: 9px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    border: 2px solid black;
    padding-left: 5px;
}

.dashboard .container3 .box .config .conteudo .infor .conteudo .fone input {
    font-family: 'Poppins', sans-serif;
    width: 315px;
    height: 35px;
    margin-top: 9px;
    border-radius: 25px 00px 00px 25px;
    font-weight: 700;
    font-size: 14px;
    border: 2px solid black;
    padding-left: 5px;
    border-right-width: 0px;
}

.dashboard .container3 .box .config .conteudo .infor .conteudo .fone .formsFone .fones {
    display: flex;
}

.dashboard .container3 .box .config .conteudo .infor .conteudo .fone .formsFone .fones button {
    height: 39px;
    background-color: #2C3333;
    font-family: 'Poppins';
    font-weight: 700;
    transition: 800ms;
    border: 2px solid black;
    border-radius: 0px 25px 25px 0px;
    margin-top: 9.2px;
    font-weight: 700;
    color: white;
    border-left-width: 0px;
    cursor: pointer;
}

.dashboard .container3 .box .config .conteudo .infor .conteudo .fone .formsFone .fones button:hover {
    transition: 800ms;
    background-color: #FFF;
    color: #2C3333;
    font-family: 'Poppins';
    font-weight: 700;
    cursor: pointer;
}

.dashboard .container3 .box .config .conteudo .infor .formsEnd {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}

.dashboard .container3 .box .config .conteudo .infor .formsEnd .btnInscricao {
    background-color: #2C3333;
    margin-top: 9px;
    color: #FFF;
    width: 327px;
    height: 45px;
    font-family: 'Poppins';
    border-radius: 25px;
    border: 2px solid black;
    font-weight: 700;
    transition: 800ms;
}

.dashboard .container3 .box .config .conteudo .infor .formsEnd .btnInscricao:hover {
    transition: 800ms;
    background-color: #FFF;
    color: #2C3333;
    font-family: 'Poppins';
    font-weight: 700;
    cursor: pointer;
}



.dashboard .container3 .box .config .acessibilidade {
    width: 80%;
    height: 100%;

}

.dashboard .container3 .box .btnSair {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.dashboard .container3 .box .btnSair .btn {
    height: 55px;
    width: 170px;
    font-weight: bold;
    font-size: 20px;
    background-color: #f7b787;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}