@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-color: #F9E8D9;
    background-image: url(./assets/imgs/fundo.svg);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 24px;
}
a{
    text-decoration: none;
}

.header {
    width: 100%;
    border-bottom: 1px black solid;
}

.container {
    background-color: #f7b787;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-around;
}

.titulo {
    color: black;
    width: fit-content;
    font-weight: bold;
    font-size: 24px;
    align-items: start;
    flex-direction: row;
    width: 800px;

}

.leftInfo {
    width: 277px;
    margin-left: 10px;
    margin-top: 60px;
    position: absolute;
}

.leftInfo .container2 {
    display: flex;
    flex-direction: column;
    height: 535px;
    justify-content: space-between;
}

.leftInfo .container2 .leftBtns {
    font-weight: 700;
    margin-top: 5px;
}

.leftInfo .container2 .btnSair button {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/sair.png);
    background-repeat: no-repeat;
    background-position: 15px 18px;
    padding-left: 50px;
    background-size: 25px;
    cursor: pointer;
}

.leftInfo .container2 .leftBtns .btnshome {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/iconDash.svg);
    background-repeat: no-repeat;
    background-position: 15px 19px;
    padding-left: 50px;
    cursor: pointer;
}

.leftInfo .container2 .leftBtns .btnsdashboards {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/chart.svg);
    background-repeat: no-repeat;
    background-position: 15px 18px;
    padding-left: 50px;
    cursor: pointer;
}

.leftInfo .container2 .leftBtns .btnsmensal {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/calendario.svg);
    background-repeat: no-repeat;
    background-position: 15px 18px;
    padding-left: 50px;
    cursor: pointer;
}

.leftInfo .container2 .leftBtns .btnsnotify {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/iconNot.svg);
    background-repeat: no-repeat;
    background-position: 15px 18px;
    padding-left: 50px;
    cursor: pointer;
}

.leftInfo .container2 .leftBtns .btnscadastrar {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #f7b787;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/iconFunc.svg);
    background-repeat: no-repeat;
    padding-left: 50px;
    cursor: pointer;
    background-position: 15px 18px;
}

.leftInfo .container2 .leftBtns .btnsconfig {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/iconConfig.svg);
    background-repeat: no-repeat;
    background-position: 15px 19px;
    padding-left: 50px;
    cursor: pointer;
}

.dashboard {
    display: flex;
    flex-direction: row-reverse;
}

.dashboard .container3 {
    width: 1200px;
    height: 595px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.dashboard .container3 .box {
    width: 1160px;
    height: 590px;
    background-color: #FFFFF4;
    border-radius: 15px;
    padding: 20px;
    padding-top: 5px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.dashboard .container3 .box .cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard .container3 .box .cadastro .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard .container3 .box .cadastro .forms input{
    font-family: 'Poppins', sans-serif;
    width: 475px;
    height: 45px;
    margin-top: 9px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 17px;
}


.dashboard .container3 .box .cadastro .forms .forms2 {
    display: flex;
}

.dashboard .container3 .box .cadastro .forms .forms2 input{
    width: 230px;
    margin-right: 5px;
    margin-left: 5px;
}

.dashboard .container3 .box .cadastro .btnCadastrar {
    background-color: #2C3333;
    margin-top: 9px;
    color: #FFF;
    width: 327px;
    height: 45px;
    font-family: 'Poppins';
    border-radius: 25px;
    border: 2px solid black;
    font-weight: 700;
    transition: 800ms;
}

.dashboard .container3 .box .cadastro .btnCadastrar:hover{
    transition: 800ms;
    background-color: #FFF;
    color: #2C3333;
    font-family: 'Poppins';
    font-weight: 700;
    cursor: pointer;
}



.dashboard .container3 .box .cadastrados .boxCad .cad{
    display: flex;
    margin-right: 14px;
}
.dashboard .container3 .box .cadastrados .boxCad .cad p{
    margin: 0
}

.dashboard .container3 .box .cadastrados .boxCad .cad .card {
    width: 450px;
    height: 70px;
    border-radius: 25px 0px 0px 25px;
    background-color: #F9E8D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    background-image: url(./assets/imgs/User.svg);
    background-repeat: no-repeat;
    background-position: 13px 10px;
    padding-right: 50px;
}

.dashboard .container3 .box .cadastrados .boxCad .cad .btnCard button{
    width: 50px;
    height: 70px;
    border-radius: 0px 25px 25px 0px;
    background-color: #EE7214;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    color: #FFFFF4;
}

.dashboard .container3 .box .cadastrados .boxCad {
    overflow-y: scroll;
    height: 65vh;
    scrollbar-color: #eeeeee #EE7214;
    scroll-margin-left: 10px;

}



.perigo-frio {
    background-color: #ff3c00;
  }
  
  .perigo-quente {
    background-color: #ff3c00;
  }
  
  .alerta-frio {
    background-color: #ffee58;
  }
  
  .alerta-quente {
    background-color: #ffee58;
  }
  
  .ideal {
    background-color: #9ccc65;
  }

   

  /* popup de alerta */
#alerta {
    position: absolute;
    /* background-color: red; */
    right: 70px;
    bottom: 30px;
    width: 250px;
    height: 100px;
  }

  .mensagem-alarme {
    background-color: #f7b787;
    border-radius: 5px;
    width: 300px;
    height: 80px;
    margin: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .mensagem-alarme h3, small {
    font-size: 12px;
    margin: 0;
  }
  
  .mensagem-alarme .informacao {
    width: 66%;
  }
  
  .alarme-sino {
    width: 48px;
    height: 48px;
    animation-name: bell;
    animation-duration: 4s;
    background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
    background-size: cover;
    animation-iteration-count: infinite;
    scale: 0.7;
  }
  
  @keyframes bell {
    0%   {transform: rotate(25deg)}
    25%  {transform: rotate(-25deg)}
    50%  {transform: rotate(25deg)}
    75%  {transform: rotate(-25deg)}
    100% {transform: rotate(25deg)}
  }

  .cor-alerta {
    width: 13%;
    height: 30%;
    border-radius: 50%;
    display: inline-block;
  }

  .modal {
    align-items: center;
    display: none;
    /* Esconda o modal por padrão */
    position: fixed;
    /* Fique em cima da página */
    z-index: 1;
    /* Fique na frente */
    left: 0;
    top: 0;
    width: 100%;
    /* Largura total */
    height: 100%;
    /* Altura total */
    overflow: auto;
    /* Habilite rolagem se necessário */
    background-color: rgb(0, 0, 0);
    /* Cor de fundo preta */
    background-color: rgba(0, 0, 0, 0.4);
    /* Cor de fundo com transparência */
    
}

.modal-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}

.modal-content .formsEstufas {
    margin-left: 25px;
}

.modal-content .formsEstufas input {
    padding: 5px;
    width: 250px;
    height: 30px;
    border-radius: 25px;
    border: 2px solid black;
}

.modal-content .formsEstufas textarea {
    padding: 10px;
    width: 250px;
    height: 100px;
    max-width: 250px;
    max-height: 100px;
    border-radius: 25px;
    border: 2px solid black;
}


.modal-content .formsEstufas {
    height: 255px;
    width: 100%;
}

.cor-alerta {
    width: 13%;
    height: 30%;
    border-radius: 50%;
    display: inline-block;
  }

  #alertaUmi {
    position: absolute;
    /* background-color: rgb(0, 204, 255); */
    right: 70px;
    bottom: 140px;
    width: 250px;
    height: 100px;
  }

  .mensagem-alarmeumi {
    /* background-color: #527853; */
    background-color: #f7b787;
    border-radius: 5px;
    width: 300px;
    height: 80px;
    margin: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .mensagem-alarmeumi h3, small {
    font-size: 12px;
    margin: 0;
  }

  .mensagem-alarmeumi .informacao {
    width: 66%;
  }