@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-color: #F9E8D9;
    background-image: url(./assets/imgs/fundo.svg);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 24px;
}
a{
    text-decoration: none;
}

.header {
    width: 100%;
    border-bottom: 1px black solid;
}

.container {
    background-color: #f7b787;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-around;
}

.titulo {
    color: black;
    width: fit-content;
    font-weight: bold;
    font-size: 24px;
    align-items: start;
    flex-direction: row;
    width: 800px;

}

.leftInfo {
    width: 277px;
    margin-left: 10px;
    margin-top: 60px;
    position: absolute;
}

.leftInfo .container2 {
    display: flex;
    flex-direction: column;
    height: 535px;

}

.leftInfo .container2 .leftBtns {
    font-weight: 700;
    margin-top: 5px;
}

.leftInfo .container2 .leftBtns .btnshome {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/iconDash.svg);
    background-repeat: no-repeat;
    background-position: 15px 19px;
    padding-left: 50px;
    cursor: pointer;
}

.leftInfo .container2 .leftBtns .btnsdashboards {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/chart.svg);
    background-repeat: no-repeat;
    background-position: 15px 18px;
    padding-left: 50px;
    cursor: pointer;
}

.leftInfo .container2 .leftBtns .btnsmensal {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/calendario.svg);
    background-repeat: no-repeat;
    background-position: 15px 18px;
    padding-left: 50px;
    cursor: pointer;
}

.leftInfo .container2 .leftBtns .btnsnotify {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #f7b787;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/iconNot.svg);
    background-repeat: no-repeat;
    background-position: 15px 18px;
    padding-left: 50px;
    cursor: pointer;
}

.leftInfo .container2 .leftBtns .btnscadastrar {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/iconFunc.svg);
    background-repeat: no-repeat;
    padding-left: 50px;
    cursor: pointer;
    background-position: 15px 18px;
}

.leftInfo .container2 .leftBtns .btnsconfig {
    height: 62px;
    width: 275px;
    font-weight: bold;
    font-size: 20px;
    text-align: start;
    background-color: #FFFFF4;
    border-radius: 15px;
    border: none;
    background-image: url(./assets/imgs/iconConfig.svg);
    background-repeat: no-repeat;
    background-position: 15px 19px;
    padding-left: 50px;
    cursor: pointer;
}

.dashboard {
    display: flex;
    flex-direction: row-reverse;
}

.dashboard .container3 {
    width: 1200px;
    height: 595px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.dashboard .container3 .box {
    width: 1160px;
    height: 590px;
    background-color: #FFFFF4;
    border-radius: 15px;
    padding: 20px;
    padding-top: 5px;
    margin-top: 50px;
}

.dashboard .container3 .box .notifys{
    display: flex;
    flex-direction: column;
}

.dashboard .container3 .box .notifys .card{
    width: 70rem;
    height: 7rem;
    background-color: #F9E8D9;
    border-radius: 15px;
    display: flex;
    margin-bottom: 10px;
}

.dashboard .container3 .box .notifys .card h2{
    font-size: 20px;
    margin-left: 20px;
}

.dashboard .container3 .box .notifys .card .icon{
    background-image: url(./assets/imgs/Error.svg);
    background-repeat: no-repeat;
    width: 7rem;
    height: 7rem;
    background-position: 23px;
}

.dashboard .container3 .box .notifys .card .tituloN{
    display: flex;
    
}
.texto p{
    margin: 0;
    font-weight: 600;
    margin-left: 22px;
}

.dashboard .container3 .box .notifys .card2{
    width: 70rem;
    height: 7rem;
    background-color: #F9E8D9;
    border-radius: 15px;
    display: flex;
    margin-bottom: 10px;
}

.dashboard .container3 .box .notifys .card2 h2{
    font-size: 20px;
    margin-left: 20px;
}

.dashboard .container3 .box .notifys .card2 .icon{
    background-image: url(./assets/imgs/Error.svg);
    background-repeat: no-repeat;
    width: 7rem;
    height: 7rem;
    background-position: 23px;
}

.dashboard .container3 .box .notifys .card2 .tituloN{
    display: flex;
    
}