@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f9e8d9;
    font-family: 'Poppins', sans-serif;
}


/* HEADER */
.header {
    width: 100%;
    border-bottom: 1px black solid;
    z-index: 2;
    position: absolute;
}

.container {
    background-color: #f7b787;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.titulo {
    color: black;
    width: fit-content;
    font-weight: bold;
    font-size: 24px;
    align-items: start;
    flex-direction: row;
    width: 800px;
}

.header .container {
    justify-content: space-between;
}


/* NAVBAR */
.navbar {
    width: 600px;
    color: black;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

.navbar {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.navbar a:hover {
    color: #f9e8d9;
}

.navbar .sobre {
    display: flex;
    margin-right: 25px;
    justify-content: space-around;
    width: 397px;
}

.navbar .cadastroLogin {
    display: flex;
    margin-left: 25px;
    justify-content: space-around;
    width: 188px;
    margin-right: 40px;
}

a {
    text-decoration: none;
    color: black;
}

.banner {
    background-image: url(./assets/img/inicio.png);
    height: 570px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.container2{
    margin-bottom: 15px;
}

.container2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 300;
    text-shadow:
        -1.5px -1.5px 0 #527853,
        1.5px -1.5px 0 #527853,
        -1.5px 1.5px 0 #527853,
        1.5px 1.5px 0 #527853;
    color: #f9e8d9;
    margin: 10px;
}

.container2 button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

button {
    border-radius: 50px;
    justify-content: space-around;
    height: 50px;
    width: 250px;
    background-color: #527853;
    color: white;
    border: none;
}

.butao {
    display: flex;
    justify-content: center;
}

.bannerSN {
    display: flex;
    height: 810px;
    width: 100%;
    background-image: url(assets/img/sobre\ nos.svg);
    background-repeat: no-repeat;
    background-size: 94rem;
    align-items: center;
    justify-content: flex-end;
}

.container3 {
    display: flex;
    width: 500px;
    height: 570px;
    margin-right: 100px;
    box-shadow: 20px 20px #EE7214;
    background-color: #527853;
}

.container3 .texto {
    color: #FFFFFF;
    margin: 5%;
    font-size: 19px;
}

.bannerP {
    background-image: url(./assets/img/projeto.svg);
    background-size: 110rem;
    background-repeat: no-repeat;
    height: 820px;
    width: auto;
}

.bannerP .containerP {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 720px;
}

.detalhesT {
    background-image: url(./assets/img/detalhesP.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.bannerP .box {
    display: flex;
    width: 80rem;
    height: 19rem;
    background-color: #F9E8D9;
    border-radius: 15px;
    padding: 20px;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

.bannerP .box .tituloP {
    font-weight: 700;
    font-size: 22px;
}

.bannerP .box .tituloP p {
    margin: 0px;
}

.bannerP .box .texto {
    font-size: 19px;
}

.bannerE {
    background-image: url(./assets/img/Equipe.svg);
    background-size: cover;
    height: 40rem;
    width: 100%;
}

.bannerE .containerE {
    display: flex;
    height: 40rem;
    align-items: center;
    justify-content: space-around;
}


.bannerE .containerE .box {
    background-color: #F9E8D9;
    width: 28rem;
    height: 32rem;
    border-radius: 15px;
    padding: 15px;
}

.bannerE .containerE .box .tituloE {
    font-size: 22px;
    font-weight: 700;
}

.bannerE .containerE .box .texto {
    font-size: 19px;
}

.bannerE .containerE .boxImg {
    background-color: gray;
    height: 23rem;
    width: 38rem;
}

.footer {
    height: 400px;
    background-color: #F7B787;
}

.footer .box {
    display: flex;
    align-items: center;
    height: 400px;
    justify-content: space-evenly;
    font-weight: 600;
}

.footer .box .anchors {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}

.footer .box .forms p {
    margin: 0px;
}


.footer .box .forms input {
    width: 275px;
    height: 33px;
    background-color: #F9E8D9;
    border: 2px solid #527853;
    border-radius: 15px;
    padding: 5px;
    font-size: 14px;
}

.footer .box .forms textarea {
    padding: 5px;
    width: 275px;
    background-color: #F9E8D9;
    border: 2px solid #527853;
    font-size: 14px;
    border-radius: 15px;
}

.footer .box .forms button {
    border-radius: 15px;
    justify-content: space-around;
    height: 42px;
    width: 131px;
    background-color: #527853;
    color: white;
    border: none;
    font-size: 19px;
}