.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}


body {
    background-image: url(./assets/imgs/login.svg);
    background-color: #527853;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins";
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

input {
    font-family: "Poppins";
    font-weight: 700;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box {
    width: 550px;
    height: fit-content;
    background-color: #FBF7F5;
    border-radius: 15px;
}

.container .box .btnVoltar{
    padding: 18px 1px 1px 13px;
}
.container .box .btnVoltar .btnBack:hover{
    cursor:pointer
}

.container .box .infoCadastro {
    padding: 0px 52px 81px 65px;
}
.container .box .infoCadastro .tituloLogin p {
    font-weight: 700;
    font-size: 30px;
}

.container .box .infoCadastro .formsLogin {
    display: flex;
    flex-direction: column;
}

.container .box .infoCadastro .formsLogin .nomesEmpresa {
    margin: 5px;
    display: flex;
}

.container .box .infoCadastro .formsLogin .nomesEmpresa input {
    margin: 2px;
    border: 2px #2C3333 solid;
    height: 35px;
    border-radius: 10px;
    padding: 3px;
    padding-left: 5px;
}

.container .box .infoCadastro .formsLogin .emailCnpj {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.container .box .infoCadastro .formsLogin .emailCnpj .inputEmail {
    margin-bottom: 8px;
}

.container .box .infoCadastro .formsLogin .emailCnpj input {
    margin: 2px;
    border: 2px #2C3333 solid;
    height: 35px;
    border-radius: 10px;
    padding: 3px;
    width: 406px;
    padding-left: 5px;
}

.container .box .infoCadastro .formsLogin .senhas {
    margin: 5px;
    display: flex;
}

.container .box .infoCadastro .formsLogin .senhas input {
    margin: 2px;
    border: 2px #2C3333 solid;
    height: 35px;
    padding: 3px;
    border-radius: 10px;
    padding-left: 5px;
}

.container .box .infoCadastro .temConta {
    margin: 5px;
    font-size: 16px;
    font-weight: 700;
}

.container .box .infoCadastro .temConta a {
    color: #EE7214;
}

.container .box .infoCadastro .btnCriar{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.container .box .infoCadastro .btnCriar .btnCadastro{
    background-color: #2C3333;
    color: #FFF;
    width: 300px;
    height: 35px;
    font-family: 'Poppins';
    border-radius: 25px;
    border: 2px solid black;
    transition: 800ms;
}
.container .box .infoCadastro .btnCriar .btnCadastro:hover{
    transition: 800ms;
    background-color: #FFF;
    color: #2C3333;
    font-family: 'Poppins';
    font-weight: 700;
    cursor: pointer;
}

.spnErro{
    color: red;
    font-size: 12px;
}

.erro{
    display: flex;
    flex-direction: column;
}
.erroS{
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}